<h1>Listing district_hefans</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @district_hefans.each do |district_hefan| %>
      <tr>
        <td><%= link_to 'Show', district_hefan %></td>
        <td><%= link_to 'Edit', edit_district_hefan_path(district_hefan) %></td>
        <td><%= link_to 'Destroy', district_hefan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New District hefan', new_district_hefan_path %>
