@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.row {
  height: 100%;
}
h1 {
  text-align:center;
}

[class*="col-"] {
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
  padding-bottom: 15px;
  padding-top: 15px;
  display: table-cell;
}

.pin{border-left:#c9c7c8 1px solid;border-bottom:#c9c7c8 1px solid;border-top:#dedcdd 1px solid;border-right:#c9c7c8 1px solid;}
.pin,.Board{position:absolute;width:280px;padding:15px 15px 0;font-size:12px;background-color:#fff;box-shadow:0 1px 3px rgba(0,0,0,.3);-moz-box-shadow:0 1px 3px rgba(0,0,0,.3);-webkit-box-shadow:0 1px 3px rgba(0,0,0,.3)}
