<%= form_for(@restaurant_hefan) do |f| %>
  <% if @restaurant_hefan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant_hefan.errors.count, "error") %> prohibited this restaurant_hefan from being saved:</h2>

      <ul>
      <% @restaurant_hefan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
