<h1>Listing restaurant_hefans</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant_hefans.each do |restaurant_hefan| %>
      <tr>
        <td><%= link_to 'Show', restaurant_hefan %></td>
        <td><%= link_to 'Edit', edit_restaurant_hefan_path(restaurant_hefan) %></td>
        <td><%= link_to 'Destroy', restaurant_hefan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant hefan', new_restaurant_hefan_path %>
